.container {
  width: 1600px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-box {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


